<div class="box1">
	<div class="foto2"><%= gravatar_for feed_item.user, size: 100 %></div>
	<div class="pubblica">
		<div id="testo">
			<span class="username-title"><%= feed_item.user.name %></span>
			<span class="user-action"><%= feed_item.content %></span><br />
			<% if current_user?(feed_item.user) %>
	    		<%= link_to "Cancella", feed_item, method:  :delete,
	                                     confirm: "Sei sicuro?",
	                                     title:   feed_item.content %>
	  		<% end %>
	  	</div>
	</div>
</div>
