<% @user ||= current_user %>
<div class="stats">
	<a href="<%= following_user_path(@user) %>">
		<strong id="following" class="stat">
			<%= @user.followed_users.count %>
		</strong>
		following
	</a><br />
	<a href="<%= followers_user_path(@user) %>">
		<strong id="followers" class="stat">
			<%= @user.followers.count %>
		</strong>
		followers
	</a>
	<!--a href="<%#= messages_user_path(@user) %>">
		<strong id="messages" class="stat">
			<%#= @user.unread_message_count %>
		</strong>
		unread messages
	</a-->
</div>
