<nav class="submenu"> 
				<ul>
					<li>
						<a href="#">Aste attive</a>
					</li>
					<li>
						<a href="#">Aste scadute</a>
					</li>		
					<li>
						<a href="#">Offri materiale</a>
					</li>
					<li>
						<a href="#">Le mie aste</a>
					</li>		
					
				</ul>
				
</nav>

<div class= "content" id="aste"> 
				<div class="text">
				<div id= "breadcrumb">
							<a href="#">Aste Materiali</a><span>&gt;</span>
							<em>Aste attive</em>
						</div>
						
			<h4>Le aste dei materiali di scarto</h4>
			
		</div>
		
		<div class= "leftblock">
			<div class= "form">
				
				<label class="what">Cerca:</label>
				<input type= "text" class="what">
				
				<label class="what">In quale categoria?</label>
				<select>
					<option>Legno</option>
					<option>Metallo</option>
					<option>Plastica</option>
					<option>Altro</option>
				</select>
				
				
				<label class="what">Località:</label>
				<input type= "text" class="what">
			
				<div class="button">
				<a href="#" id="bottonecss" style="top 75px;left:16px;">CERCA</a>
				<a href="#">Salva la ricerca</a>
				</div>
			</div>
				<div class="mappa">
			<h4>Visualizza la mappa</h4>
			<img src="/assets/mappa2.png">
		</div>
 		</div>
		
	
		

		<div class= "rightblock">
			<table>
						<tr>
							<th></th>
							<th></th>
							<th>AZIENDA</th>
							<th>LUOGO</th>
							<th>DATA</th>
						</tr>
						<tr>
  							<td><img src="/assets/astelegno.png"/></td>
  							<td class="alt4"><a href="#">TAVOLAME</a><br/>Tavolame in rovere spessori 8, 6, 5, 4 cm</td>
 							<td >Arredilegno</td>
 							<td >Livorno</td>
 							<td >Oggi 17:40</td>
   						</tr>
						<tr>
  							<td><img src="/assets/astecubo.png"/></td>
  							<td class="alt4"><a href="#">200 CUBOTTI</a><br/>Cubotti di legno misure 5x5 cm</td>
 							<td >Palm</td>
 							<td >Parma</td>
 							<td >Ieri</td>
   						</tr>
   						<tr>
  							<td><img src="/assets/asteferro.png"/></td>
  							<td class="alt4"><a href="#">ROTTAMI FERRO</a><br/>Vendita ingrosso rottami ferro altri metalli</td>
 							<td >Metalli S.R.L</td>
 							<td >Mantova</td>
 							<td >13/07/2012</td>
   						</tr>
   						<tr>
  							<td><img src="/assets/astebott.png"/></td>
  							<td class="alt4"><a href="#">BOTTIGLIE PLASTICA</a><br/>Mensa Universitaria</td>
 							<td >I.S.I.A. RomaDesign</td>
 							<td >Roma</td>
 							<td >20/07/2012</td>
   						</tr>
   						<tr>
  							<td><img src="/assets/asteplastica.png"/></td>
  							<td class="alt4"><a href="#">SCARTO PLASTICA PS</a><br/>10 kg da industrie specializzate</td>
 							<td >API Industries</td>
 							<td >Liguria</td>
 							<td >23/07/2012</td>
   						</tr>
   						<tr>
  							<td><img src="/assets/astepolistirolo.png"/></td>
  							<td class="alt4"><a href="#">POLISTIROLO EX PACKAGING</a><br/>Polistirolo espanso da imballo</td>
 							<td >Supermercati Crai s.r.l.</td>
 							<td >Milano</td>
 							<td >28/07/2012</td>
   						</tr>
   						<tr>
  							<td><img src="/assets/asterame.png"/></td>
  							<td class="alt4"><a href="#">FILI DI RAME</a><br/>Scarti da prodotti tecnologici</td>
 							<td >Samsung</td>
 							<td >Cosenza</td>
 							<td >28/07/2012</td>
   						</tr>
					</table>
				</div>

			
		</div> 
			</div>
			<!-- manca il footer-->
		</div>
		