<div class= "content" id="dettaglio"> 
				<div class= "innerwrapper">
					<div class= "leftblock">
						<div class= "text">	
							<div id= "breadcrumb">
								<a href="#">Progetti</a><span>&gt;</span>
								<a href="#">Martina Muggiri</a><span>&gt;</span>
								<em>Mara</em>
							</div>
							<h1>MARA</h1>
							<h2>Panchina in pallet</h2>
							<h3>Arredo per esterni</h3>
							<p>La panchina è stata realizzata per Strike SPA</p>
					
					<div class="img"><img src= "/assets/mara.jpg"></div>
					<p>In base alle lunghezze delle assi di legno del pallet sono state progettate le dimensioni e le misure delle
						varie parti dell'oggetto, ottimizzando il più possibile l’uso del materiale per contenerne gli scarti.</p>
					</div>
					</div>
						
						
					<div class= "rightblock">
						<div class= "text">
							<img src="/assets/martina.png">
								<div class= "personaldata">
									<p id="nome">Martina Muggiri</p>
									<p id="provenienza">Italia, Torino (TO)</p>
							</div>
						
						<p>I materiali usati da Martina:</p>
							<ul class="material">
								<li>
									<img src= "/assets/material.png">
									<p>Legno</p>
							</li>
								<li>
									<img src= "/assets/material.png">
									<p>Metallo</p>
							</li>
								<li>
									<img src= "/assets/material.png">
									<p>Cuoio</p>
							</li>
								<li>
									<img src= "/assets/material.png">
									<p>Gomma</p>
							</li>
							
							</ul>
						</div>
						
						<p class="punteggio">616<span class="dettagli">punti totali</span></p>
						
						<div class= "text">
						<p>Vedi gli altri progetti</p>
				</div>
						<ul class="progettini">
								<li>
									<img src= "/assets/1.jpg">
							</li>
								<li>
									<img src= "/assets/2.jpg">
							</li>
								<li>
									<img src= "/assets/3.png">
							</li>
								<li>
									<img src= "/assets/4.jpg">
							</li>
								<li>
									<img src= "/assets/5.jpg">
							</li>
						</ul>
						
					
					<div class="buttons">
						<a href "#" id="butt_hook" style="top 75px;left:16px;">HOOK</a>
						<a href "#" id="butt_contatta" style="top 75px;left:16px;">CONTATTA</a>
						<a href "#" id="butt_officina" style="top 75px;left:16px;">OFFICINA</a>
						
				</div>
			<div class="text">
			<p>Vuoi seguire Martina? Agganciala alla tua rete: clicca su Hook!</p>
			</div>
		</div>
		
			<div class= "bottomblock">
			<h1>TI PIACE? Dai un voto al progetto!</h1>
			<h2>Votando i progetti degli altri artigiani riceverai un bonus che incrementerà il tuo punteggio totale.</h2>
			<ul class="stars">
				<li><a href "#" class="vota"> </a> <p>HO VISTO DI MEGLIO</p></li>
				<li><a href "#" class="vota"> </a> <p>NIENTE MALE</p></li>
				<li><a href "#" class="vota"> </a> <p>INTERESSANTE</p></li>
				<li><a href "#" class="vota"> </a> <p>BELLO</p></li>
				<li><a href "#" class="vota"> </a> <p>VORREI AVERLO FATTO IO</p></li>
			</ul>
		
				<a href "#" id="butt_vota" style="top 75px;left:16px;">VOTA!!!</a>
			</div>
			</div>
	
		</div>