<nav class="submenu"> 
				<ul>
					<li>
						<a href="#">i più votati</a>
					</li>
					<li>
						<a href="#">recenti</a>
					</li>		
					
				</ul>
				
</nav>
		
<div class= "content" id="progetti"> 
			
			<h4>Clicca su un progetto per visualizzare i dettagli</h4>
			
			<div class="column first">
				<img src="/assets/mara_thumb.png" alt="Thumb" />
				<p class="titoli"><a href="dettaglio">MARA</a></p>
				<h5>Panchina in pallet</h5>
				<p>Autore: Martina Muggiri</p>
				<p class="punteggi">157 punti</p>
			</div>
			
			<div class="column">
				<img src="/assets/dune.png" alt="Thumb" />
				<p class= "titoli"><a href="#">DUNE</a></p>
				<h5>Sedute in pallet</h5>
				<p>Autore: Studio Superfluo</p>
				<p class= "punteggi">156 punti</p>

			</div>
			
			<div class="column">
				<img src="/assets/bian.png" alt="Thumb" />
				<p class= "titoli"><a href="#">BIAN</a></p>
				<h5>Borsetta in gomma</h5>
				<p>Autore: Gianmarco Vitti</p>
				<p class= "punteggi">150 punti</p>

				
			</div>

		<div class="column last">
				<img src="/assets/corbata-thumb.png" alt="Thumb" />
				<p class= "titoli"><a href="#">LA CORBATA</a></p>
				<h5>Tavolo in pallet</h5>
				<p>Autore: Daniele Barco</p>
				<p class= "punteggi">148 punti</p>

		
			
			</div>	
				<div class="column first row2">
				<img src="/assets/jpan_thumb.jpg" alt="Thumb" />
				<p class= "titoli"><a href="#">J.PAN</a></p>
				<h5>Tavolo in pallet</h5>
				<p>Autore: Dana Lupascu</p>
				<p class= "punteggi">145 punti</p>
			</div>
			
			<div class="column row2">
				<img src="/assets/constellation-thumb.jpg" alt="Thumb" />
				<p class= "titoli"><a href="#">CONSTELLATION</a></p>
				<h5>Chaise long in legno</h5>
				<p>Autore: Studio Superfluo</p>
				<p class= "punteggi">130 punti</p>

			</div>
			
			<div class="column row2">
				<img src="/assets/so_plastic.png" alt="Thumb" />
				<p class= "titoli"><a href="#">SO PLASTIC</a></p>
				<h5>Bracciali in plastica</h5>
				<p>Autore: Federica Fornari</p>
				<p class= "punteggi">128 punti</p>

				
			</div>

		<div class="column last row2">
				<img src="/assets/gotrik.jpg" alt="Thumb" />
				<p class= "titoli"><a href="#">GOTRIK</a></p>
				<h5>Lampada in tetrapack</h5>
				<p>Autore: Jessica Massinelli</p>
				<p class= "punteggi">120 punti</p>

			
			</div>
			</div>
			<!-- manca il footer-->
		</div>