<footer class = "info">
				<ul>
					<li>
						<%= link_to "Cos'è YouRe-Do",   about_path %>
					</li>
					<li>
					   <a href="#">FAQ</a> 
					</li>
					<li>		
					<a href="#">Condizioni d'uso</a>
					</li>
				</ul>
				
</footer>