<footer class="footer">
  <small>
    <a href="https://bitbucket.org/luigidr/lam2012">Room 5T</a> - LAM course
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://bit.ly/lingambmult">News</a></li>
    </ul>
  </nav>
</footer>